.button {
  text-decoration: none;
  border: none;
  border-radius: 15px;
  background: var(--primaryButton);
  color: var(--colorTextLigth);
  font-size: 23px;
  font-weight: 700;
  line-height: 128.688%;
  letter-spacing: 0.705px;
  text-transform: uppercase;
  padding: 1rem 1rem;
  margin: 2rem 0 0 0;
}
