.container {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.content_container {
  background: var(--backgroundHeader);
  height: 100%;
}
.content {
  display: grid;
  justify-content: flex-end;
  grid-template-columns: 10rem 1fr;
  align-items: center;
  color: var(--colorTextLigth);
}

.title {
  font-family: var(--righteous);
  font-size: 55px;
  line-height: 128.688%; /* 70.778px */
  letter-spacing: 4.675px;
}
.subtitle {
  font-family: var(--righteous);
  line-height: 40%;
  font-size: 13px;
  letter-spacing: 0.585px;
}

.links {
  font-size: 1.2rem;
  line-height: 128.688%; /* 30.885px */
  letter-spacing: 2.52px;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.container_us {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  color: var(--colorTextLigth);
}

.title_us {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  line-height: 128.688%; /* 61.77px */
  letter-spacing: 3.6px;
}
.us {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.us p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 133.7%; /* 32.088px */
  letter-spacing: 2.76px;
  text-align: center;
}
