.container {
  background: var(--backgroundGradient);
  border-radius: 12px 12px 0 0;
  padding: 3rem 0 4rem 0;
}

.containerEmail {
  display: flex;
  gap: 0.5rem;
  color: var(--colorTextLigth);
  font-size: 1.5rem;
  margin: 3rem auto;
  max-width: 45rem;
}
.img {
  max-width: 45rem;
}
.img img {
  -o-object-fit: contain;
  object-fit: contain;
  display: flex;
  align-items: center;
  border-radius: 14px;
}
