.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  margin: 2rem auto;
}
.title {
  color: var(--primmaryColor);
  text-align: center;
  margin: 0 0 2rem 0;
}
.containerForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.containerInput,
.textarea {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.containerInput input {
  border: 1.5px solid var(--primmaryColor);
  padding: 0.7rem;
  border-radius: 12px;
}
.textarea textarea {
  border: 1.5px solid var(--primmaryColor);
  padding: 0.7rem;
  border-radius: 12px;
  resize: vertical;
  min-height: 5rem;
}

.number input {
  max-width: 4rem;
}
.number > div {
  display: flex;
  align-items: flex-end;
  gap: 0.4rem;
  max-width: 100%;
}
.containerCheckbox {
  display: flex;
  gap: 1rem;
}
.containerCheckbox input {
  display: flex;
  gap: 1rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 1px solid var(--primmaryColor);
  height: 1rem;
  width: 1rem;
  border-radius: 4px;
}
.containerCheckbox input:checked {
  -moz-appearance: auto;
  -webkit-appearance: auto;
  -o-appearance: auto;
  appearance: auto;
  outline: none;
}
.containerCheckbox a {
  color: rgb(77, 77, 245);
  text-decoration: underline;
}
