.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: black;
  margin-top: 10vh;
  position: relative;
}

.title {
  font-size: 2.1875rem;
  font-weight: 900;
  text-align: center;
  margin: 4rem auto 0 auto;
}
.title span {
  color: #efa44c;
}

.cardOne .cardTitle,
.cardOne svg {
  color: #efa44c;
}
.cardTwo .cardTitle,
.cardTwo svg {
  color: #76a2e4;
}
.card svg {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 auto;
}
.cardThree .cardTitle,
.cardThree svg {
  color: #00dd72;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 3rem 3rem 3rem;
  border-radius: 12px;
  height: 100%;
  box-shadow: 7px 12px 40px -8px #0000003d;
  background-color: white;
}

.card h3 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.10938rem;
}
@media (min-width: 480px) {
}
@media (min-width: 1080px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  .title {
    font-size: 3rem;
  }
}
