.container {
  position: relative;
  background-color: #fff;
  padding: 2rem 0;
  border-radius: 12px;
  margin: 9rem auto -8rem auto;
  box-shadow: 7px 12px 40px -8px #0000003d;
}
.container::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 4.8rem;
  bottom: 2rem;
  left: 0;
  right: 0;
}

.title {
  color: var(--primmaryColor);
  text-align: center;
  margin: 2rem 0 0 0;
  font-size: 2.1875rem;
  font-weight: 900;
}
.containerForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.containerInput,
.textarea {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.containerInput input {
  border: 1.5px solid var(--primmaryColor);
  padding: 0.7rem;
  border-radius: 12px;
}
.textarea textarea {
  border: 1.5px solid var(--primmaryColor);
  padding: 0.7rem;
  border-radius: 12px;
  resize: vertical;
  min-height: 5rem;
}

.number input {
  max-width: 4rem;
}
.number > div {
  display: flex;
  align-items: flex-end;
  gap: 0.4rem;
  max-width: 100%;
}
.containerCheckbox {
  display: flex;
  gap: 1rem;
}
.containerCheckbox input {
  display: flex;
  gap: 1rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 1px solid var(--primmaryColor);
  height: 1rem;
  width: 1rem;
  border-radius: 4px;
}
.containerCheckbox input:checked {
  -moz-appearance: auto;
  -webkit-appearance: auto;
  -o-appearance: auto;
  appearance: auto;
  outline: none;
}
.containerCheckbox a {
  color: rgb(77, 77, 245);
  text-decoration: underline;
}
@media (max-width: 450px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 450px) {
  .container {
    padding: 2remm;
  }
  .containerForm {
    max-width: 30rem;
    margin: auto;
  }
  .title {
    font-size: 3rem;
    font-size: 2.1875rem;
    font-weight: 900;
  }
}
@media (min-width: 1080px) {
  .container::after {
    height: 4.8rem;
  }
  .title {
    font-size: 3rem;
  }
}
