.container {
  position: fixed;
  height: 4rem;
  width: 4rem;
  background-color: #6dea8c;
  border-radius: 50%;
  display: grid;
  place-content: center;
  bottom: 2rem;
  right: 1rem;
}
.container a,
.container svg {
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
 
}
