.container {
  height: 664px;
  position: relative;
  -webkit-clip-path: ellipse(138% 53% at 50% 46%);
  clip-path: ellipse(138% 53% at 50% 46%);
}

.content_container {
  height: 100%;

  background: linear-gradient(90deg, #4ad6e033 1.6%, #76a2e433 100%);
  -webkit-backdrop-filter: brightness(0.4);
  padding: 0 0 30px 0;
  backdrop-filter: brightness(0.4);
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--colorTextLigth);
  padding: 1rem 0;
}

.title {
  font-family: var(--righteous);
  font-size: 55px;
  font-size: 40px;
  line-height: 128.688%; /* 70.778px */
  letter-spacing: 4.675px;
}
.subtitle {
  font-family: var(--righteous);
  line-height: 40%;
  font-size: 9px;
  text-wrap: nowrap;
}

.links {
  font-size: 1rem;
  line-height: 128.688%; /* 30.885px */
  letter-spacing: 2px;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.container_us {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colorTextLigth);
  height: 73%;
}

.title_us {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  line-height: 128.688%; /* 61.77px */
  letter-spacing: 2px;
}
.title_us span {
  color: var(--primaryButton);
}
.us {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.us p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;

  text-align: center;
}

@media (min-width: 450px) {
  .container {
    height: auto;
  }
  .content_container {
    padding: 0 0 30px 0;
  }
  .title {
    font-size: 55px;
  }
  .subtitle {
    font-size: 13px;
  }
  .links {
    gap: 1rem;
  }

  .container_us {
    display: flex;
    align-items: center;
    justify-content: center;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    color: var(--colorTextLigth);
  }

  .title_us {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    line-height: 128.688%; /* 61.77px */
    letter-spacing: 2px;
  }
  .us {
    margin-top: 3rem;
  }
  .us p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
  }
}

@media (min-width: 1080px) {
  .container_us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    align-items: flex-start;
  }
  .us {
    margin: 3rem auto;
  }
}
