.container {
  background: var(--backgroundHeader);
  height: 4rem;
}
.content {
  display: grid;
  justify-content: flex-end;
  grid-template-columns: 4rem 1fr;
  align-items: center;
  color: var(--colorTextLigth);
}
.logo * {
  height: 4rem;
}
.body {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
