.container {
  margin: auto;
  width: 95%;
}
@media (min-width: 450px) {
  .container {
    width: 80%;
    max-width: 1120px;
  }
}
@media (min-width: 1080px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 70%;
  }
}

.animationScroll {
  opacity: 0;
  -webkit-animation: scrolls linear both;

  animation: scrolls linear both;

  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

@-webkit-keyframes scrolls {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scrolls {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
