:root {
  --tablet: 480px;
  --laptop: 1080;
  --pc: 1200px;
  --background: #f3f3f3;
  --backgroundHeader: linear-gradient(
    90deg,
    rgba(74, 214, 224, 0.374) 1.6%,
    rgba(118, 162, 228, 0.395) 100%
  );
  --backgroundGradient: linear-gradient(90deg, #4ad7e0 1.6%, #76a2e4 100%);
  --colorTextLigth: #ffffff;
  --roboto: var(--roboto);
  --primaryButton: #ff9700;
  --primmaryColor: #58c6e1;
}
